body {
    font-family: "Poppins", sans-serif;
    background: #f9f4f8;
}
p {
    margin: 0;
}
.showcase-hero-section .container {
    position: relative;
    padding: 100px 0;
}
.showcase-hero-section .showcase-hero-img {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 100%;
    z-index: -1;
}
.showcase-hero-section .mini-txt {
    font-size: 20px;
    color: #cb6ce6;
    font-weight: 700;
}
.showcase-hero-section .showcase-hero-title {
    font-size: 50px;
    color: #000;
    font-weight: 700;
    max-width: 500px;
}
.showcase-hero-section .showcase-hero-des {
    font-size: 20px;
    color: #000;
    font-weight: 400;
    max-width: 520px;
    margin: 40px 0;
}
.showcase-hero-section .showcase-sale-bar {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: #00000000 0px 0px 3px 0px, rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin: 20px 0;
    max-width: 900px;
    border: 1px solid #cb6ce6;
}
.showcase-hero-section .showcase-sale-bar .single-sale {
    display: flex;
    align-items: center;
}
.showcase-hero-section .showcase-sale-bar .single-sale img {
    max-height: 60px;
    margin-right: 15px;
}
.showcase-hero-section .showcase-sale-bar .single-sale .entity {
    font-size: 25px;
    font-weight: 700;
    color: #cb6ce6;
}
.showcase-hero-section .showcase-sale-bar .sale-btn {
    font-size: 16px;
    font-weight: 500;
    background: #cb6ce6;
    color: #fff;
    min-width: 180px;
    height: 50px;
    border-radius: 50px;
}

.showcase-hero-section {
    padding: 50px 0;
}
.showcase-hero-section .hero-bottom-btns .btn {
    font-size: 16px;
    font-weight: 500;
    background: #cb6ce6;
    color: #fff;
    min-width: 200px;
    height: 50px;
    border-radius: 50px;
    line-height: 35px;
}
.showcase-hero-section .hero-bottom-btns {
    margin-top: 50px;
}
.showcase-hero-section .hero-bottom-btns .btn-1 {
    background: #000;
    color: #fff;
    margin-right: 30px;
}
.showcase-hero-section .hero-bottom-btns .btn-1 a {
    background: #000;
    color: #fff;
}
.showcase-hero-section .hero-bottom-btns .btn-2 {
    background: #cb6ce6;
    color: #fff;
}
.showcase-showbook {
    display: flex;
    justify-content: center;
}
.showcase-showbook img {
    margin-right: 30px;
    max-height: 700px;
    box-shadow: #00000000 0px 0px 3px 0px, rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
}
.showcase-showbook img {
    margin-right: 30px;
    max-height: 400px;
}
.showcase-showbook-right {
    flex-basis: 65%;
}
.showcase-showbook-right .showbook-title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
}
.showcase-showbook-right .showbook-author {
    font-size: 15px;
    margin: 10px 0;
}
.showcase-showbook-right .showbook-stars {
    color: gold;
    font-size: 15px;
    margin-bottom: 10px;
}
.showcase-showbook-right .showbook-des {
    font-size: 16px;
    margin-bottom: 20px;
}
.showcase-showbook-right .showbook-btn {
    font-size: 16px;
    font-weight: 500;
    background: #000;
    color: #fff;
    min-width: 200px;
    height: 50px;
    border-radius: 50px;
    line-height: 35px;
}
.showcase-showbook-section {
    position: relative;
    color: #fff;
    margin-top: 100px;
}
.showcase-showbook-section::before {
    position: absolute;
    content: "";
    background: linear-gradient(180deg, rgb(42, 39, 218), rgb(0, 204, 255));
    height: 110%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    margin-top: -75px;
}
.single-team {
    padding: 15px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
}
.showcase-team-section {
    padding: 100px 0;
}
.single-team img {
    width: 280px;
    height: 240px;
    margin-bottom: 10px;
    object-fit: cover;
}
.showcase-team-section .team-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.showcase-team-section .single-team .team-name {
    font-weight: 500;
    font-size: 20px;
}
.showcase-team-section .single-team .team-work {
    font-size: 14px;
    margin-bottom: 20px;
}
.showcase-team-section .single-team .team-socios i {
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.showcase-team-section .single-team .team-socios{
    display: flex;
    justify-content: space-around;
}
.showcase-team-section .single-team .team-socios i:hover {
    color: #cb6ce6;
}

.owl-carousel {
    position: relative;
}
.carousel-section .owl-prev {
    font-size: 70px !important;
    color: #000 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-53%);
    left: -50px;
}
.carousel-section .owl-next {
    font-size: 70px !important;
    color: #000 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-53%);
    right: -50px;
}

.showcase-gallery-inner {
    display: flex;
    flex-wrap: wrap;
}
.showcase-gallery-inner .single-img-gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.showcase-gallery-inner .single-img-gallery {
    flex-basis: 25%;
    max-height: 600px;
    margin-top: 20px;
    position: relative;
}
.showcase-gallery {
    text-align: center;
    padding: 100px 0;
    background-color: #f1f3ff;
}
.showcase-gallery .gallery-sub {
    font-size: 20px;
    margin-bottom: 10px;
}
.showcase-gallery .gallery-title {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 600;
}
.showcase-gallery .gallery-title {
    font-size: 30px;
    margin-bottom: 50px;
}
.showcase-gallery .time {
    position: absolute;
    left: 70px;
    bottom: 80px;
    z-index: 2;
    text-align: left;
}
.showcase-gallery .time .month {
    background-color: #cb6ce6;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    display: inline-block;
}
.showcase-gallery .time .year {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    padding: 0 20px;
    font-size: 30px;
}



@media only screen and (max-width: 768px){


    .showcase-hero-section .showcase-hero-img{
        display: none;
    }
    .showcase-hero-section{
        padding: 0;
    }
    .showcase-showbook{
        flex-wrap: wrap;
    }
    .showcase-showbook img{
        margin-right: 0;
        max-height: 300px;
    }

    .showcase-showbook-right{
        flex-basis: 100%;
    }
    .showcase-gallery-inner .single-img-gallery{
        margin-top: 0;
        flex-basis: 50%;
    }
    .showcase-gallery-inner .single-img-gallery img{
        max-height: 260px;
    }
    .showcase-gallery .time{
        left: 50px;
        bottom: 50px;
    }
    .showcase-gallery .time .year{
        font-size: 20px;
    }
    .showcase-gallery .time .month{
        font-size: 14px;
    }
    .showcase-gallery{
        padding: 30px 0;
    }
    .showcase-gallery .gallery-title{
        margin-bottom: 15px;
    }
    .showcase-team-section .team-title{
        margin-bottom: 15px;
    }
    .showcase-hero-section .container{
        padding: 30px 0;
    }
    .carousel-section .owl-next,
    .carousel-section .owl-prev{
        display: none;
    }



}






@media only screen and (max-width: 576px){

    .showcase-hero-section .container,
    .showcase-gallery .container,
    .showcase-showbook-section .container{
        max-width: 90%;
    }
    .showcase-gallery-inner .single-img-gallery{
        flex-basis: 100%;
    }
    .showcase-gallery .gallery-title,.showcase-team-section .team-title{
        font-size: 20px;
    }
    .showcase-gallery .gallery-sub{
        font-size: 16px;
    }
    .showcase-hero-section .showcase-hero-title{
        font-size: 30px;
    }
    .showcase-hero-section .mini-txt{
        font-size: 19px;
    }
    .showcase-hero-section .showcase-hero-des{
        margin: 10px 0;
        font-size: 16px;
    }
    .showcase-hero-section .showcase-sale-bar{
        flex-wrap: wrap;
    }
    .showcase-hero-section .showcase-sale-bar .single-sale{
        justify-content: center;
        flex-basis: 100%;
        margin-top: 15px;
    }
    .showcase-hero-section .showcase-sale-bar .sale-btn{
        margin: 15px 0;
    }









}


@media only screen and (max-width: 483px){
    .showcase-hero-section .hero-bottom-btns .btn-1{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .showcase-hero-section .hero-bottom-btns {
        text-align: center;
    }
    .showcase-showbook-right .showbook-title {
        font-size: 16px;
    }
    .showcase-showbook-right .showbook-des{
        font-size: 13px;
    }
    .showcase-showbook-right .showbook-author{
        font-size: 12px;
    }
    .showcase-showbook-right .showbook-stars {
        font-size: 12px;
    }
    .showcase-showbook-right{
        text-align: center;
    }










}